h1{
    text-align: center;
    color: rgb(19, 124, 245);
    font-size: 32px;
}
.app{
    text-align: center;
    color: rgb(16, 167, 146);
    font-size: large;

}
.lbl{
    visibility: hidden;
    text-align: center;
}
form{
    padding: 20px;
    text-align: left;
}
input
{
    margin: 10px;
    
}
button{
    background-color: green;

}
label{
    color: maroon;
}
select{
    margin: 10px;
}
#sub{
    background-color: blue;
}
